body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
} 

.loader{
    display: block;
    background: url("ripple.gif");
    width: 46px;
    height: 46px;
}

.sites {
    max-width: 100%;
}

    .sites tr td:last-child, .sites tr td:nth-child(4), .sites tr td:nth-child(5) {
        text-align: center;
    }

    .sites tr td:nth-child(4) a {
        width: 100%;
    }

    .sites td, .screenshots td {
        padding: 5px;
        border: 1px solid grey;
    }

    .sites thead, .screenshots thead {
        font-size: 1.1em;
        font-weight: bold;
        color: white;
        background-color: lightgray;
    }

.screenshots {
    margin-top: 25px;
    text-align: center;
}

.screenshots tbody tr td:nth-child(3) {
    text-align: center;
}

.jumbotron p a {
    width: 120px;
}
 .tests{
    margin-top: 25px;
    text-align: center;
}