@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Automation Testing Web Application Layots</h1>
    @*<p class="lead">This site was created for automated testing of web application layouts. Please login or register and then read the <a href="/Home/Tutorial/">tutorial.</a>*@
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p><style></style>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    
</div>